body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav {
    height: 70px;
    width: 100%;
    background-color:transparent;
    color: white;
    opacity: 0.7;
    margin: 1px;
    border-radius: 10px;
    text-align: right;
    /* text-shadow: 3px 3px black; */
    font-weight: bold;
    }

    li{
      display: inline-block;
      padding: 5px;
      text-align: right;
      position: relative;
      top:38px;
      font-size: larger;
    }
    
    a{
        text-decoration: none;
        color:gray
    }
    
    
    a:link {
        color:whitesmoke;
      }
      
     
      a:hover {
        color: orange;
      }
 
     





     a.active{
      border-bottom: 3px #D4A455;
    }
      
      .logo{
        position: relative;
        float: left;
        bottom: 43px;
    
      }


      .box{
        background-color: blue;
        height:100vh;
        width:100vw;
        background-position: center;
        background-size: 100% 100%;
        position: relative;
      }

      .kitchen-text{
        z-index: 10;
        position: absolute;
        color: whitesmoke;
        font-size: 200px;
        left: 510px;
        top: 250px;
        
      }

      .opacity:hover{
        background-color: black;
        height: 100%;
        width: 100%;
        opacity: .2;
        z-index: 2;
        /* position:relative; */
      }


       /* .container:hover .image {
        opacity: 0.6;
      } 
      
       .pictures:hover .middle {
        opacity: 1;
        
      } */
      
      /* .pictures:hover{
        opacity: 0.7;
      }
      
      .pictures{
        display:inline-block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        
      } 

      .text:hover{
        z-index: 1;
      }
      
      .kit-text {
        background-color: orange;
        color:white;
        font-size: 70px;
     
        font-family: Arial, Helvetica, sans-serif;
      }

      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      } 

      .bath-text{
        background-color: orange;
        color:white;
        font-size: 70px;
       
        font-family: Arial, Helvetica, sans-serif;
      } */

     
    