body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 70px;
    width: 100%;
    background-color:transparent;
    color: white;
    opacity: 0.7;
    margin: 1px;
    border-radius: 10px;
    text-align: right;
    font-weight: bold;
    }

    li{
      display: inline-block;
      padding: 5px;
      text-align: right;
      position: relative;
      top:38px;
      font-size: larger;
    }
    
    a{
        text-decoration: none;
        color:gray;
    }
    
    
    a:link {
        color:whitesmoke;
      }
      
     
      a:hover {
        color: orange;
      }
      
      
     

      .logo{
        position: relative;
        float: left;
        bottom: 43px;
    
      }

      .estimates{
        background-color:darkorange;
        opacity: 0.8;
        height: 450px;
        position: relative;
        bottom: 120px;
      }

      .text{
        color:white;
        text-align: center;
        font-size: 100px;
      }

      .calender{
        background-color: transparent;
        height: 20px;
        position: relative;
        bottom: 80px;
        width: 50%;
      }

      .frame{
        position: absolute;
        width: 100%;
        left: 20px;
      }

      .aside{
        background-color:transparent;
        height: 700px;
        width: 650px;
        position: relative;
        left:1100px;
        bottom: 160px;
        

      }

      .aside-text{
        font-size: 55px;
        color: gray;
      }